src/mobile_app/android/app/google-services.json
..bfg-report/2021-05-23/07-28-25/cache-stats.txt
..bfg-report/2021-05-23/07-28-25/deleted-files.txt
..bfg-report/2021-05-23/07-28-25/object-id-map.old-new.txt
bfg.jar
