
*.lock
src/mobile_app/Gemfile
src/mobile_app/android/Gemfile
src/mobile_app/android/fastlane/Appfile
src/mobile_app/android/fastlane/Fastfile
src/mobile_app/android/fastlane/report.xml
src/mobile_app/android/fastlane/README.md
src/mobile_app/android/fastlane/metadata/android/en-US/video.txt
src/mobile_app/android/fastlane/metadata/android/en-US/title.txt
src/mobile_app/android/fastlane/metadata/android/en-US/short_description.txt
src/mobile_app/android/fastlane/metadata/android/en-US/full_description.txt
src/mobile_app/android/app/google-services.json
src/mobile_app/android/fastlane/Pluginfile
src/mobile_app/android/fastlane/metadata/android/en-US/images/phoneScreenshots/2_en-US.png
src/mobile_app/android/fastlane/metadata/android/en-US/images/phoneScreenshots/1_en-US.png
src/mobile_app/android/fastlane/metadata/android/en-US/images/icon.png
src/mobile_app/android/fastlane/metadata/android/en-US/images/featureGraphic.png
